.container {
    margin-bottom: 20px;
}

.inputText {
    font-size: 17px;
    line-height: 1.33;
    letter-spacing: -0.01em;

    margin-bottom: 5px;
}

.container {
    width: 270px;
    position: relative;
}

.formInput {
    width: 270px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: #f6f6f6;
    outline: transparent;

    transition:
        border-color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 6px 15px;
    padding-right: 35px;
}

.formInput:hover,
.formInput:focus {
    border-color: #646864;
    box-shadow: 0 4px 4px #00000026;
}

.iconClean {
    position: absolute;
    top: 6px;
    right: 10px;
    cursor: pointer;
}
