.containerContac {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thumbContact {
    white-space: nowrap;
    overflow: hidden;
}

.nameContact {
    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 18px;
    font-weight: 700;

    margin-bottom: 5px;
}

.numberContact {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 500;
}

.buttonDelete {
    display: flex;
    gap: 5px;

    width: 100px;
    border-radius: 60px;
    background-color: #1d1d1d;
    border: none;
    color: #fff;
    box-shadow: 0 4px 4px #00000026;
    font-size: 15px;
    transition:
        background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
        color 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    padding: 10px 15px;
}

.buttonDelete:hover {
    background-color: #484848;
    color: #bea69e;
}
