.listContacts {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.itemContact {
    flex-basis: calc((100% - 10px) / 2);

    border-radius: 15px;
    border: 1px solid #8e8f99;
    background-color: #f6f6f6;

    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    padding: 10px;
    overflow: hidden;
}

.itemContact:hover,
.itemContact:focus {
    transform: scale(1.05);
}

.infoText {
    font-size: 20px;
    line-height: 1.33;
    letter-spacing: -0.01em;
    text-align: center;
}
